/* 
    FAKT
    -------------------------------------- */
@font-face {
    font-family: 'Univers';
    src: url('UniversLTStd.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}