/*
    Website     Triennial
    Version     0.1
    -------------------------------------- */

@import url(fonts.css);

body, html {
    margin: 0;
    background: white;
    font-family: sans-serif;
    font-size: 26px;
    line-height: 1.3;
    word-spacing: -.0625em;
    color: black;
    cursor: default;
}

body {
  margin: 1em;
}

::selection {
    color: red;
    background: transparent;
}

* {
  box-sizing: border-box;
}

/*
    Nav
    -------------------------------------- */

nav {
  position: fixed;
  top: 2em;
  left: 2em;
  z-index: 1001;
  color: red;
  width: calc(25% - 4em);
  font-size: .5em;
}

nav a {
  color: red;
}

nav p {
  padding-left: 0;
}

nav img {
  display: block;
  width: calc(100% - 2em);
  max-width: 360px;
}

.menu {
  margin-top: 1em;
  color: black;
}

.menu li {
  display: table;
  cursor: pointer;
}

.menu li:hover {
  text-decoration: underline;
}

/*
    Defaults
    -------------------------------------- */

h1 {
  /* text-transform: uppercase; */
  font-size: 2.5em;
  font-weight: inherit;
  margin: 0;
  line-height: 1;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
    margin: 0;
    padding-bottom: 1em;
}

/*
    Home Grid
    -------------------------------------- */

.home {
  width: 100%;
  padding-left: 25%;
  display: table;
}

.home li {
  margin: 1em;
}

.thumb {
  margin-bottom: 3em;
  display: inline-block;
  width: 25%;
  padding: 0;
}

.thumb img {
  display: block;
  margin: 0 auto;
  vertical-align: top;
  max-height: 300px;
  width: auto;
  max-width: calc(100% - 1em);
}

.thumb-caption {
  text-align: center;
  font-size: .5em;
  margin-left: -16px;
  padding-top: 1em;
}

span.category{
  text-transform: capitalize;
}

.all {
  cursor: pointer;
}

/*
    Article
    -------------------------------------- */

.article-wrapper {
  width: 75%;
  position: absolute;
  left: 25%;
  top: calc(1em - 9px);
}

article {
  display: block;
  width: 66.6667%;
  margin-bottom: 12em;
}

article p {
  padding-bottom: 1em;
}

.author {
  padding: 0 0;
  padding-top: 1em;
}

section.image {
  width: 100%;
  text-align: center;
  padding-bottom: 1em;
  margin: 2em 0;
}

.image img {
  max-width: calc(100% - 8em);
  width: auto;
  height: auto;
  max-height: calc(100vh - 8em);
  margin: 0 auto;
  text-align: center;
  display: block;
}

.image-caption {
  max-width: calc(100% - 6em);
  font-style: italic;
  font-size: .8em;
  padding-top: .5em;
  margin: 0 auto;
}

.endnotes {
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid black;
  column-count: 3;
  column-gap: 1.5em;
  word-break: break-word;
}
.endnotes p {
  text-transform: uppercase;
}

.endnotes li, .endnotes p {
  font-size: .66em;
  list-style: disc;
  padding-bottom: 1em;
  padding-right: .5em;
}

.bodyText {
  margin-top: 1em;
}

.blank-image {
  display: block;
  background: white;
  border: 1px solid black;
  max-width: calc(100% - 1em);
  margin: 0 auto;
  max-height: 300px;
  height: 250px;
  vertical-align: top;
}


/*
    Export
    -------------------------------------- */

.export {
  position: fixed;
  top: 1em;
  right: 1em;
  text-align: center;
}

.export a {
  display: block;
  background: black;
  color: white;
  border-radius: .5em;
  padding: .5em 1.5em;
  margin-bottom: .5em;
}

/*
    Media Queries
    -------------------------------------- */

@media (max-width: 768px) {

  body {
    font-size: 16px;
    margin: 0;
  }

  .home {
    width: 75%;
  }

  .home li {
    width: 100%;
  }

  .thumb img {
    max-height: calc(100vh - 4em);
    max-width: calc(100%);
  }
}
